@font-face {
    font-family: 'Display-Light';
    src: URL('NHaasGroteskDSPro-45Lt.ttf') format('truetype');
}
@font-face {
font-family: 'Display';
src: URL('Jersey25-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'mono';
    src: URL('VT323-Regular.ttf') format('truetype');
    }
    
html{
    scrollbar-color: rgb(0,255,0) black;
    scrollbar-width: thin;
    overflow-x: hidden;
}

body{
    margin: 25px;
    background-color: black;
}

#scrollimg{
    opacity: 100%;
    transition-duration: 2s;
    transition-timing-function:cubic-bezier(0.565, 0.84, 0.44, 1);
}


h1{
    font-size: 24px;
    user-select:none;
    transition-duration: 500ms;
    color: white;
}

p1{
    font-family: mono;
    color: rgb(0, 255, 0);
    transition-duration: 200ms;
    display: inline;
    font-size: 18px;
}

a{
    text-decoration: none;
    user-select:none;
    cursor: pointer;
    transition-duration: 200ms;
}


a .menubuttons:hover{
    color: rgb(0, 0, 0);
    color: rgb(0, 255, 0);
    
}

.Light{
    font-family: Nacelle-UltraLight;
    font-size: 1.5vh;
    padding: 10px 10px 10px 0px;
    border-radius: 5px;

}

.title{
    font-size: 48px;
    line-height: 0;
    white-space: nowrap;
    font-family: Display;
    display: block;
    color: rgb(0, 255, 0);
    text-rendering:geometricPrecision;
}

.title2{
    font-size: 24px;
    line-height: 0;
    white-space: nowrap;
    font-family: Display-Light;
    display: block;

}

.menubuttons{
    padding: 10px;
    font-size: 18px;
    transition-timing-function: steps(2);

}

.heroimage{
    position:relative;
    z-index: -22;
    width: 100%;
    left: 0;
    top: 30;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.menubar{
    position: fixed;
    top: 25;
    

}

.watchnow{
    font-family: mono;
    color: rgb(0, 255, 0);
    border: solid rgb(0, 255, 0);
    border-radius: 00px;
    padding: 10px;
    padding-left: 10px;
    padding-right: 35px;
    font-size: 20px;
    line-height: 1;
    transition-duration: 200ms;
    white-space: nowrap;
    transition-timing-function: steps(3);

}

.icon1{
    color: rgb(0, 255, 0);
    opacity: 0;
    transition-duration: 200ms;

}

a .watchnow:hover{
    padding-left: 25px;
    padding-right: 35px;
    color: black;
    background-color: rgb(0, 255, 0);
}

a .watchnow:hover .icon1{
    opacity: 100%;
    color: black;

}

.grid-container {
    display: grid;
    grid-template-columns: auto ;
    grid-template-rows: 0%  ;
    height: fit-content;
    width: auto;

}

@media only screen and (min-width: 640px) {
    body{
        margin: 100px;
        background-color: black;
    }
    .grid-container {
        display: flexbox;
        grid-template-columns: 17vw 17vw 17vw 17vw  ;
        grid-template-rows: 20vh 20vh  20vh  20vh ;
        gap: 2vh    ;
        height: 100%;
        width: auto;
        justify-content: center;
        
    }

    .grid-item {
        border: 1px solid rgba(0, 0, 0, 0.);
        padding: 0px;
        color: rgb(0, 255, 0);
        border-color: rgba(0, 0, 0, 0.1);
        user-select:none;
        justify-items: left;
        text-align: left;
        height: 100%;
        align-content: flex-start;
    }

    .title{
        font-size: 86px;
        line-height: 0;
        white-space: nowrap;
        font-family: Display;
        display: block;

    }

    .heroimage{
        position:fixed;
        z-index: -2;
        display: block;
        width: 60vw;
        left: auto;
        right: 0;
        top: 45vh;
    
    }

    .menubuttons{
        padding: 10px;
        font-size: 20px;
        position: relative;

    }

    .menubar{
        position: fixed;
        right: 13vw;
    }
    
}

.grid-item {
    border: 1px solid rgba(0, 0, 0, 0.);
    padding: 0px;
    color: rgba(0, 0, 0, 0);   
    border-color: rgba(0, 0, 0, 0.1);
    user-select:none;
    justify-items: left;
    text-align: left;
    height: 100%;
    align-content: flex-start;
}

